#pragma once
{{#include_headfiles}}
#include "{{headfile_name}}"
{{/include_headfiles}}

namespace ME{
    {{#class_defines}}template<>
    PJson PSerializer::Write(const {{class_name}}& instance);
    template<>
    {{class_name}}& PSerializer::Read(const PJson& json_context, {{class_name}}& instance);
    {{/class_defines}}
}//namespace